<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='Navigation.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class='alert alert-warning'>
                {% for message in messages %}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}

            {% endif %}
        {% endwith %}

    </head>
    <body>
        <ul>
            <li><a class="active" href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('upload_file')}}">Upload File</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="float:right"><a href="#about">About</a></li>
        </ul>

        {% block content %}
        {% endblock %}
    </body>
</html>