<!-- extends from base layout-->
{% extends "baseTemplate.html" %}

{% block content %}
    <h1>select input</h1>
      <form action = "{{url_for('uploader')}}" method = "POST" enctype = "multipart/form-data">
          <p>
            Please select your input file:
          </p>
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
{% endblock %}