<!-- extends from base layout-->
{% extends "baseTemplate.html" %}


{% block content %}
    <h1>outputpage</h1>
    <table>
        {% for key, value in features.items() %}
        <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
        </tr>
    {% endfor %}
    </table>


    <img src="{{ url_for('static', filename = 'test.png') }}" alt="Image Placeholder">


    {#
    <img src="{{ url_for('fig', features = features) }}" alt="Image Placeholder">
    #}
{% endblock %}
